
modules = ["python-3.11:v14-20240115-e9303c9"]

[nix]
channel = "stable-24_05"

[deployment]
run = ["python3", "-m", "http.server", "5000", "--bind", "0.0.0.0"]

[workflows]
runButton = "Run"

[[workflows.workflow]]
name = "Run"
author = 40949604
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python3 -m http.server 5000 --bind 0.0.0.0"

[[ports]]
localPort = 5000
externalPort = 80
