modules = ["web", "nodejs-20", "nix", "python-base-3.13"]

[nix]
channel = "stable-24_05"

[deployment]

[workflows]
runButton = "Run"

[[workflows.workflow]]
name = "Run"
author = 40949604
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python3 cors_http_test_server.py"

[[ports]]
localPort = 5000
externalPort = 80
